[submodule "tasks/trackerLab"]
	path = tasks/trackerLab
	url = git@github.com:interval-package/trackerLab.git
[submodule "algs/rsl_rl"]
	path = algs/rsl_rl
	url = git@github.com:interval-package/rsl_rl.git
	branch = master
[submodule "algs/RoboWorld"]
	path = algs/RoboWorld
	url = git@github.com:interval-package/RoboWorld.git
[submodule "factoryIsaac"]
	path = factoryIsaac
	url = git@github.com:interval-package/factoryIsaac.git
[submodule "tasks/robot_mars"]
	path = tasks/robot_mars
	url = git@github.com:interval-package/robot_mars.git
